@use '../settings/variables' as *;

body {
  //background-color: $bleu-500;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Metropolis-Light', sans-serif;

  &.separator {
    &::after {
      content: '';
      position: relative;
      display: block;
      margin-top: 40px;
      width: 140px;
      height: 6px;
      border-radius: 9999px;
      background-color: $black;

      @media screen and (max-width: 480px) {
        margin-top: 25px;
      }
    }

    margin-bottom: 20px;
  }

  &.separatorx1 {
    &::after {
      content: '';
      position: relative;
      display: block;
      margin-top: 20px;
      width: 70px;
      height: 4px;
      border-radius: 9999px;
      background-color: $black;

      @media screen and (max-width: 480px) {
        margin-top: 25px;
      }
    }

    margin-bottom: 20px;
  }
}

h1 {
  font-size: clamp(26px, 6vw, 34px);
  font-weight: 700;
  line-height: 1.3;
}

h2 {
  font-size: clamp(22px, 6vw, 30px);
  font-weight: 700;
}

h3 {
  font-size: clamp(20px, 4vw, 20px);
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

a {
  position: relative;

  &.hover-underline {
    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: currentColor;
      transform: scaleX(0);
      transition: transform .2s cubic-bezier(0.4, 0, 0, 1);
      transform-origin: right;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}
