$white: #ffffff;
$background: #F3F6FB;
$black: #000000;

$body-color: #f8fafe;
$sidebar-color: #B0CAD0;

$bleu-50: #e7e7ec;
$bleu-100: #b5b4c3;
$bleu-200: #9290a5;
$bleu-300: #605e7c;
$bleu-400: #413e63;
$bleu-500: #110e3c;
$bleu-600: #0f0d37;
$bleu-700: #0c0a2b;
$bleu-800: #090821;
$bleu-900: #070619;

$bleu-light-50: #edecff;
$bleu-light-100: #c7c3ff;
$bleu-light-200: #aba7ff;
$bleu-light-300: #857eff;
$bleu-light-400: #6d65ff;
$bleu-light-500: #493fff;
$bleu-light-600: #4239e8;
$bleu-light-700: #342db5;
$bleu-light-800: #28238c;
$bleu-light-900: #1f1a6b;

$light-theme: (
        background: $white,
        body-color: $body-color,
        sidebar-color: $sidebar-color,
        text-color: $black,
);

$dark-theme: (
        background: $bleu-500,
        body-color: $bleu-600,
        sidebar-color: $bleu-700,
        text-color: $white,
);

$xw-400: 400;
$xw-500: 500;
$xw-600: 600;
$xw-700: 700;
$xw-800: 800;
$xw-900: 900;

$x4-small: 10px;
$x3-small: 12px;
$x2-small: 13px;
$x-small: 14px;
$small: 15px;
$medium: 16px;
$x2-medium: 18px;
$large: 20px;
$x-large: 22px;
$x2-large: 24px;
$x3-large: 28px;
$x4-large: 32px;
$x5-large: 35px;
$x6-large: 36px;
$x7-large: 48px;
$x8-large: 60px;

$desktop: 1024px;
$tablet: 820px;
$mobile: 480px;

$primary-fonts: "Montserrat", sans-serif;
$secondary-fonts: "Poppins", sans-serif;
