@use '../settings/variables' as *;

.light-theme {
  background-color: map-get($light-theme, background);
  color: map-get($light-theme, text-color);
}

.dark-theme {
  background-color: map-get($dark-theme, background);
  color: map-get($dark-theme, text-color);
}
