@use '../../settings' as *;

.c-add {
  padding: 24px 32px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__left {
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.043);
      background-color: $white;
      height: 100%;
      width: 50%;

      .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h3 {
          margin: 20px 0;
        }

        .group-button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
        }
      }

      .table {
        border-spacing: 0 15px;

        i {
          font-size: 1rem !important;
        }

        .table tr {
          border-radius: 20px;
        }

        tr td:nth-child(n+5),
        tr th:nth-child(n+5) {
          border-radius: 0 .625rem .625rem 0;
        }

        tr td:nth-child(1),
        tr th:nth-child(1) {
          border-radius: .625rem 0 0 .625rem;
        }
      }
    }

    &__right {
      width: 50%;
      max-width: 500px;

      .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 12px;
        border-radius: 8px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.043);
        background-color: $white;
        height: 100%;
        width: 100%;

        h5 {
          font-size: 1.2rem;
          line-height: 1.5rem;
          font-weight: 600;
          color: $black;
          text-align: center;
        }

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;
          margin: 20px 10px;
          height: 220px;
          overflow-y: scroll;
          width: 100%;
          padding: 10px;

          li {
            .card__checkbox {
              border: 1px solid $bleu-light-500;
            }

            p {
              font-size: 1.2rem;
              line-height: 1.5rem;
              color: $black;
            }
          }
        }
      }
    }
  }

  &__preview {
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.043);
    border-radius: 8px;
    background-color: $white;
    height: 480px;
    width: 100%;
  }
}
