@use '../../settings' as *;

.c-home {
  padding: 0 15px;

  .c-home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__requests {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      width: 450px;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.043);
      border-radius: 8px;
      background-color: $white;

      @media screen and (max-width: $mobile) {
        width: 100%;
      }

      > h5 {
        margin-bottom: 20px;
      }

      > p {
        margin-bottom: 15px;
      }
    }
  }
}
