@use '../../settings/variables' as *;

.c-layout-dashboard {
  display: flex;
  gap: 20px;
  height: 100vh;
  padding: 16px;
    background-color: $bleu-500;

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $body-color;
    border-radius: 8px;
  }
}
