@use '../../settings' as *;

.c-dropdown {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    width: 100%;

    > span {
      margin-right: 2px;
    }
  }

  &__items {
    position: absolute;
    right: 0;
    margin-top: 24px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    min-width: 200px;
    max-width: 400px;
    padding: 8px 0;
    transform-origin: top right;
  }

  &__item {
    width: 100%;
    background-color: #FFFFFF;
    color: #000;

    &__link {
      padding: 10px 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      gap: 10px;
      align-items: center;
      color: black;
      font-size: 14px;
      width: 100%;


      &:hover {
        background-color: $bleu-light-500;
        color: $white !important;
      }
    }
  }
}
