.o-container {
  display: block;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;

  &--margin {
    margin-top: 72px;
    margin-bottom: 72px;

    &--reduce {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  &--footer {
    background-color: #f8f8f8;
    max-width: 1320px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
